<div class="container">
  <!--ANAMENU-->
  <nav class="navbar navbar-default" id="navbar-root">
        <ul class="nav navbar-nav" id="nav-list">
          <li><a data-toggle="tab" href="#students">Öğrenciler</a></li>
          <li><a data-toggle="tab" href="#schoolbus">Servis</a></li>
          <li><a data-toggle="tab" href="#inventory">Envanter</a></li>
          {{#if Admin}}
          <li><a data-toggle="tab" href="#staff">Personeller</a></li>
          <li><a data-toggle="tab" href="#users">Kullanıcılar</a></li>
          <li><a data-toggle="tab" href="#budget">Bütçe</a></li>
          {{/if}}
          <li>
            <a data-toggle="tab" href="#settings"><i class="fa fa-gear"></i></a>
          </li>
        </ul>
  </nav>
  <div class="tab-content">
    <!--Öğrenciler-->
    <div id="students" class="tab-pane fade">
      <div class="form-group" style="margin-top:12px;">
        <div class="col-sm-3">
          <select class="form-control" id="classToList">
            {{#each Classes}}
            <option value="{{this.sinif_ad}}">{{this.sinif_ad}}</option>
            {{/each}}
          </select>
        </div>
        <a class="btn btn-primary" href="javascript:listStudents()">Öğrencileri Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addStudent">
        <i class="fa fa-user-plus"></i> Öğrenci Kayıt
        </button>
      </div>
      <div id="studentList" class="col-sm-6"></div>
      <div id="studentDetail" class="col-sm-6"></div>
    </div>
    <!--Personeller-->
    {{#if Admin}}
    <div id="staff" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        <a class="btn btn-primary" href="javascript:listStaffs()">Personelleri Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addStaff">
          <i class="fa fa-user-plus"></i> Personel Kayıt
        </button>
      </div>
    </div>
    <div id="users" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        <a class="btn btn-primary" href="javascript:listUsers()">Kullanıcıları Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addUser">
          <i class="fa fa-user-plus"></i> Kullanıcı Kayıt
        </button>
      </div>
    </div>
    {{/if}}
    <!--Servis-->
    <div id="schoolbus" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        <a class="btn btn-primary" href="javascript:listSchoolBuses()">Servisleri Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addBus">
          <i class="fa fa-plus"></i> Servis Kayıt
        </button>
      </div>
    </div>
    <!--Envanter-->
    <div id="inventory" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        <a class="btn btn-primary" href="javascript:listInventory()">Envanteri Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addStuff">
          <i class="fa fa-plus"></i> Eşya Kayıt
        </button>
      </div>
    </div>
    <!--Bütçe-->
    {{#if Admin}}
    <div id="budget" class="tab-pane fade col-sm-12">
      <div class="chart-container" style="height:500px; width:860px;margin: 0px auto;">
        <canvas id="chart"></canvas>
      </div>
      <div id="_budget">
      <div class="form-group" style="margin-top:12px;">
          <a class="btn btn-primary" href="javascript:listOldPays()">Gecikmiş Taksitleri Listele</a>
          <a class="btn btn-primary" href="javascript:listPays()">Bu Ayki Ödenmemiş Taksitleri Listele</a>
          <a class="btn btn-primary" href="javascript:listPaid()">Bu Ayki Ödenen Taksitleri Listele</a>
          <a class="btn btn-primary" href="javascript:listNextPays()">Gelecek Taksitleri Listele</a>
        </div>
      </div>
    </div>
    {{/if}}
    <!--Ayarlar-->
    <div id="settings" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        {{#if Admin}}
        <a class="btn btn-primary" href="javascript:getBackup()">Veritabanını Yedekle</a>
        <a class="btn btn-primary" href="javascript:restoreBackup()">Yedekten Geri Yükle</a>
        <a class="btn btn-primary" href="javascript:Destroy('tada')">Taa daa !</a>
        {{/if}}
        <a class="btn btn-primary" href="javascript:logout()">
          <i class="fa fa-sign-out"></i> Çıkış Yap
        </a>
      </div>
    </div>
  </div>

  <!--Öğrenci kayıt modal'ı -->
  <div class="modal fade" id='addStudent' role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Öğrenci Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label  class="col-sm-2 control-label">T.C. No</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="studentTC" maxlength="11" onkeypress="return rakamKontrol(event)" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="studentName" maxlength="15" onkeypress="return karakterKontrol(event)" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Soyad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="studentSurname" maxlength="20" onkeypress="return karakterKontrol(event)"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Doğum Tarihi</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="studentBday"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Cinsiyet</label>
              <div class="col-sm-10">
                <div class="radio-inline">
                  <label><input id="male" type="radio" name="optradio" checked><i class="fa fa-mars"></i>E</label>
                </div>
                <div class="radio-inline">
                  <label><input type="radio" name="optradio"><i class="fa fa-venus"></i>K</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Adres</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="studentAddress" maxlength="200" rows="4"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Servis</label>
              <div class="col-sm-10">
                <select class="form-control" id="studentSchoolBus">
                  <option value="none">Yok</option>
                  {{#each SchoolBuses}}
                  <option value="{{this.plaka}}">{{this.guzergah}}, plaka:{{this.plaka}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Sınıf</label>
              <div class="col-sm-10">
                <select class="form-control" id="studentClass">
                  {{#each Classes}}
                  <option value="{{this.sinif_ad}}">{{this.sinif_ad}} Yaş Grubu:{{this.sinif_yas_grup}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="modal-header">
              <h4>Ebeveyn Bilgileri</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">Ebeveyn Adı</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentParentName" maxlength="15" onkeypress="return karakterKontrol(event)"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Ebeveyn Soyadı</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentParentSurname" maxlength="15" onkeypress="return karakterKontrol(event)"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Ebeveyn Meslek</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentParentJob" maxlength="15"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Ebeveyn Tel No</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentParentPhone" maxlength="10" onkeypress="return rakamKontrol(event)"/>
                </div>
              </div>
            </div>
            <div class="modal-header">
              <h4>Ödeme Bilgileri</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label  class="col-sm-2 control-label">Fiyat</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentPrice" onchange="calUnitPrice()"/>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label">Peşinat</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentAdvancePayment" onchange="calUnitPrice()"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Taksit Sayısı</label>
                <div class="col-sm-10">
                  <select class="form-control" id="studentPayNum" onchange="calUnitPrice()">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label">Birim Taksit Fiyatı</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentPayUnitPrice" maxlength="5" disabled/>
                </div>
              </div>
            </div>
            <div class="modal-header">
              <h4>Ek Bilgiler</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label  class="col-sm-2 control-label">Ek Ad</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentExtraName" maxlength="15" onkeypress="return karakterKontrol(event)"/>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label">Ek Soyad</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentExtraSurname" maxlength="15" onkeypress="return karakterKontrol(event)"/>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label">Ek Tel</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentExtraPhone" maxlength="10" onkeypress="return rakamKontrol(event)"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Yakınlık Derecesi</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="studentExtraState" maxlength="50" rows="1" onkeypress="return karakterKontrol(event)"/></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Öğrenci Fiziksel Durumu</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="studentExtraPhysical" maxlength="50" rows="1"/></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Öğrenci Alerji Durumu</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="studentExtraAllergic" maxlength="25" rows="1" onkeypress="return karakterKontrol(event)"/></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addStudent()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
  <!--Personel kayıt modal'ı -->
  <div class="modal fade" id='addStaff' role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Personel Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label  class="col-sm-2 control-label">T.C. No</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staffTC" maxlength="11" onkeypress="return rakamKontrol(event)"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staffName" maxlength="15" onkeypress="return karakterKontrol(event)"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Soyad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staffSurname" maxlength="20" onkeypress="return karakterKontrol(event)"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Doğum Tarihi</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="staffBday"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Telefon</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staffPhone" maxlength="10" onkeypress="return rakamKontrol(event)" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Maaş</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="staffSalary"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Görev</label>
              <div class="col-sm-10">
                <select class="form-control" id="staffPosition">
                  <option value="Müdür">Müdür</option>
                  <option value="Öğretmen">Öğretmen</option>
                  <option value="Hademe">Hademe</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Eposta</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="staffEmail"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Sigorta No.</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staffInsurance" maxlength="13" onkeypress="return rakamKontrol(event)">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addStaff()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
  <!--Servis kayıt modal'ı -->
  <div class="modal fade" id='addBus' role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Servis Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Şöför Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busName" maxlength="15" onkeypress="return karakterKontrol(event)"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Şöför Soyadı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busSurname" maxlength="20" onkeypress="return karakterKontrol(event)"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Şöför Telefonu</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busPhone" maxlength="10"  onkeypress="return karakterKontrol(event)">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Güzergah</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busPath" maxlength="20"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Plaka</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busPlate" maxlength="20"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addBus()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
  <!--Envanter kayıt modal'ı -->
  <div class="modal fade" id='addStuff' role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Eşya Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Eşya Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="stuffName" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Birim Fiyat</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="stuffPrice"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Adet</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="stuffNum">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Firma Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="stuffCompName" maxlength="20"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Firma Telefonu</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="stuffCompPhone" maxlength="10" onkeypress="return karakterKontrol(event)">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Personel</label>
              <div class="col-sm-10">
                <select class="form-control" id="stuffStaff">
                  {{#each Staffs}}
                  <option value="{{this.per_tc}}">{{this.per_ad}} {{this.per_soyad}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addStuff()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>

  <!--Envanter kayıt modal'ı -->
  <div class="modal fade" id='addUser' role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Kullanıcı Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">Kullanıcı Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Şifre</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="userPassword" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Personel</label>
              <div class="col-sm-10">
                <select class="form-control" id="userStaff">
                  {{#each Staffs}}
                  <option value="{{this.per_tc}}">{{this.per_ad}} {{this.per_soyad}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addUser()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
staffCache =  JSON.parse($('<br/>').html(`{{json Staffs}}`).text());
_sum = {{StaffSum}};
_paymentHistory = JSON.parse($('<br/>').html(`{{json _sum}}`).text());
</script>
<script src="/scripts/main.js"></script>
