<div class="container">
  <!--ANAMENU-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="deviceNavbar">
        <ul class="nav navbar-nav">
          <li><a data-toggle="tab" href="#students">Öğrenciler</a></li>
          <li><a data-toggle="tab" href="#schoolbus">Servis</a></li>
          <li><a data-toggle="tab" href="#inventory">Envanter</a></li>
          <li><a data-toggle="tab" href="#budget">Bütçe</a></li>
          {{#if Admin}}
          <li><a data-toggle="tab" href="#staff">Personeller</a></li>
          <li><a data-toggle="tab" href="#users">Kullanıcılar</a></li>
          {{/if}}
          <li>
            <a data-toggle="tab" href="#settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--ICERIK-->
  <div class="tab-content">
    <!--Öğrenciler-->
    <div id="students" class="tab-pane fade">
      <div class="form-group" style="margin-top:12px;">
        <div class="col-sm-3">
          <select class="form-control" id="classToList">
            {{#each Classes}}
            <option value="{{this.sinif_ad}}">{{this.sinif_ad}}</option>
            {{/each}}
          </select>
        </div>
        <a class="btn btn-primary" href="javascript:listStudents()">Öğrenci Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addStudent">
          Öğrenci Kayıt
        </button>
      </div>
      <div id="studentList" class="col-sm-6"></div>
      <div id="studentDetail" class="col-sm-6"></div>
    </div>
    <!--Servis-->
    <div id="schoolbus" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        <a class="btn btn-primary" href="javascript:listSchoolBuses()">Servisleri Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addBus">
          Servis Kayıt
        </button>
      </div>
    </div>
    <!--Envanter-->
    <div id="inventory" class="tab-pane fade">
      <div class="form-group" style="margin-top:12px;">
        <a class="btn btn-primary" href="javascript:listInventory()">Envanteri Listele</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addStuff">
          Eşya Kayıt
        </button>
      </div>
    </div>
    <!--Bütçe-->
    <div id="budget" class="tab-pane fade">
    </div>
    <!--Personeller-->
    {{#if Admin}}
    <div id="staff" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addStaff">
          Personel Kayıt
        </button>
      </div>
      <table class="table table-bordered table-hover table-responsive table-striped" id="staffTable">
        <thead>
          <tr>
            <th>T.C</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Doğum Tarihi</th>
            <th>Telefon</th>
            <th>Maaş</th>
            <th>Görev</th>
            <th>Eposta</th>
            <th>Sigorta No.</th>
          </tr>
        </thead>
        {{#each Staffs}}
        <tr class="staff">
          <td>{{this.per_tc}}</td>
          <td>{{this.per_ad}}</td>
          <td>{{this.per_soyad}}</td>
          <td>{{this.per_dog_tar}}</td>
          <td>{{this.per_tel}}</td>
          <td>{{this.per_maas}}</td>
          <td>{{this.per_gorev}}</td>
          <td>{{this.per_email}}</td>
          <td>{{this.per_sigorta_no}}</td>
        </tr>
        {{/each}}
      </table>
      <div class="dropdown">
        <button
          class="btn btn-default dropdown-toggle"
          type="button"
          id="exportStaff"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
          Export
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="exportStaff">
          <li><a
            download="Personeller.json"
            href="data:text/json;charset=utf-8,{{json Staffs}}">JSON</a></li>
          <li><a href="javascript:staffToPDF()">PDF</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
    <div id="users" class="tab-pane fade col-sm-12">
      <div class="form-group" style="margin-top:12px;">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addUser">
          Kullanıcı Kayıt
        </button>
      </div>
      <table class="table table-bordered table-hover table-responsive table-striped" id="usersTable">
        <thead>
          <tr>
            <th>T.C</th>
            <th>Kullanıcı Adı</th>
            <th>Hash'lenmiş şifre</th>
          </tr>
        </thead>
        {{#each users}}
        <tr class="staff">
          <td>{{this.per_tc}}</td>
          <td>{{this.kullanici_adi}}</td>
          <td>{{this.kullanici_sifre}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
    {{/if}}

    <!--Ayarlar-->
    <div id="settings" class="tab-pane fade">
      <a class="btn btn-primary" href="javascript:logout()">Çıkış Yap</a>
    </div>
  </div>

  <!--Öğrenci kayıt modal'ı -->
  <div class="modal fade" id='addStudent' role="dialog" aria-labelledby="addStudent" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Öğrenci Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label  class="col-sm-2 control-label" for="studentTC">T.C. No</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="studentTC" placeholder="T.C. No" maxlength="11"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="studentName">Ad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="studentName" placeholder="Öğrenci Adı" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="studentSurname" >Soyad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="studentSurname" placeholder="Öğrenci Soyadı" maxlength="20"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="studentBday" >Doğum Tarihi</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="studentBday" placeholder="Öğrenci Doğum Tarihi"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Cinsiyet</label>
              <div class="col-sm-10">
                <div class="radio-inline">
                  <label><input id="male" type="radio" name="optradio" checked><i class="fa fa-mars" aria-hidden="true"></i>E</label>
                </div>
                <div class="radio-inline">
                  <label><input type="radio" name="optradio"><i class="fa fa-venus" aria-hidden="true"></i>K</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="studentAddress" >Adres</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="studentAddress" placeholder="Öğrenci Adresi" maxlength="200" rows="4"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="studentSchoolBus">Servis</label>
              <div class="col-sm-10">
                <select class="form-control" id="studentSchoolBus">
                  <option value="none">Yok</option>
                  {{#each SchoolBuses}}
                  <option value="{{this.plaka}}">{{this.guzergah}}, plaka:{{this.plaka}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="studentClass">Sınıf</label>
              <div class="col-sm-10">
                <select class="form-control" id="studentClass">
                  {{#each Classes}}
                  <option value="{{this.sinif_ad}}">{{this.sinif_ad}} Yaş Grubu:{{this.sinif_yas_grup}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="modal-header">
              <h4>Ebeveyn Bilgileri</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentParentName">Ebeveyn Adı</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentParentName" placeholder="Öğrencinin Velisinin Adı" maxlength="15"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentParentSurname">Ebeveyn Soyadı</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentParentSurname" placeholder="Öğrencinin Velisinin Soyadı" maxlength="15"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentParentJob">Ebeveyn Meslek</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentParentJob" placeholder="Öğrencinin Velisinin Mesleği" maxlength="15"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentParentPhone">Ebeveyn Tel No</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentParentPhone" placeholder="Öğrencinin Velisinin Telefonu" maxlength="10"/>
                </div>
              </div>
            </div>
            <div class="modal-header">
              <h4>Ödeme Bilgileri</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label  class="col-sm-2 control-label" for="studentPrice">Fiyat</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentPrice" placeholder="Kayıt Fiyatı" max="99999" onchange="calUnitPrice()"/>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label" for="studentAdvancePayment">Peşinat</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentAdvancePayment" placeholder="Peşinat Fiyatı" max="99999" onchange="calUnitPrice()"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentPayNum">Taksit Sayısı</label>
                <div class="col-sm-10">
                  <select class="form-control" id="studentPayNum" onchange="calUnitPrice()">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label" for="studentPayUnitPrice">Birim Taksit Fiyatı</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentPayUnitPrice" maxlength="5" disabled/>
                </div>
              </div>
            </div>
            <div class="modal-header">
              <h4>Ek Bilgiler</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label  class="col-sm-2 control-label" for="studentExtraName">Ek Ad</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentExtraName" maxlength="15"/>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label" for="studentExtraSurname">Ek Soyad</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="studentExtraSurname" maxlength="15"/>
                </div>
              </div>
              <div class="form-group">
                <label  class="col-sm-2 control-label" for="studentExtraPhone">Ek Tel</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="studentExtraPhone" maxlength="10"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentExtraState">Yakınlık Derecesi</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="studentExtraState" maxlength="50" rows="1"/></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentExtraPhysical">Öğrenci Fiziksel Durumu</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="studentExtraPhysical" maxlength="50" rows="1"/></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="studentExtraAllergic">Öğrenci Alerji Durumu</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="studentExtraAllergic" maxlength="25" rows="1"/></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addStudent()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
  <!--Personel kayıt modal'ı -->
  <div class="modal fade" id='addStaff' role="dialog" aria-labelledby="addStaff" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Personel Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label  class="col-sm-2 control-label" for="staffTC">T.C. No</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="staffTC" maxlength="11"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffName">Ad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staffName" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffSurname" >Soyad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="staffSurname" maxlength="20"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffBday" >Doğum Tarihi</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="staffBday"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffPhone">Telefon</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="staffPhone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffSalary">Maaş</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="staffSalary"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffPosition">Görev</label>
              <div class="col-sm-10">
                <select class="form-control" id="staffPosition">
                  <option value="Müdür">Müdür</option>
                  <option value="Öğretmen">Öğretmen</option>
                  <option value="Hademe">Hademe</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffEmail">Eposta</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="staffEmail"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="staffInsurance">Sigorta No.</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="staffInsurance">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addStaff()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
  <!--Servis kayıt modal'ı -->
  <div class="modal fade" id='addBus' role="dialog" aria-labelledby="addBus" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Servis Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="busName">Şöför Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busName" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="busSurname">Şöför Soyadı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busSurname" maxlength="20"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="busPhone">Şöför Telefonu</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="busPhone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="busPath">Güzergah</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busPath" maxlength="20"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="busPlate">Plaka</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="busPlate" maxlength="20"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addBus()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
  <!--Envanter kayıt modal'ı -->
  <div class="modal fade" id='addStuff' role="dialog" aria-labelledby="addStuff" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Eşya Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="stuffName">Eşya Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="stuffName" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="stuffPrice">Birim Fiyat</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="stuffPrice"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="stuffNum">Adet</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="stuffNum">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="stuffCompName">Firma Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="stuffCompName" maxlength="20"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="stuffCompPhone">Firma Telefonu</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="stuffCompPhone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="stuffStaff">Personel</label>
              <div class="col-sm-10">
                <select class="form-control" id="stuffStaff">
                  {{#each Staffs}}
                  <option value="{{this.per_tc}}">{{this.per_ad}} {{this.per_soyad}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addStuff()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
  
  <!--Envanter kayıt modal'ı -->
  <div class="modal fade" id='addUser' role="dialog" aria-labelledby="addUser" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Kullanıcı Bilgileri</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="userName">Kullanıcı Adı</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="userPassword">Şifre</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="userPassword" maxlength="15"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="userStaff">Personel</label>
              <div class="col-sm-10">
                <select class="form-control" id="userStaff">
                  {{#each Staffs}}
                  <option value="{{this.per_tc}}">{{this.per_ad}} {{this.per_soyad}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            İptal
          </button>
          <a class="btn btn-primary" href="javascript:addUser()">Kaydet</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/main.js"></script>
